header{
	position: fixed;
	display: inline-block;
	top: 0;
	padding: 20px;
	width: 100%;
	height: 50px;
	background-color: white;
	z-index: 999;
}

.logo {
	font-family:'Roboto', sans-serif;
	font-size: 13px;
	vertical-align: middle;
	color: #FA6980;
	margin-right: 92px;

}

.nav-header {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	
}

li{
	display: inline-block;
	margin-right: 22px;
}

.li-a {
	color: gray;
	font-saiz: 11px;
}

.img-li{
	display: inline-block;
	vertical-align: middle;
}

/*section*/

.container{
	width: 1170px;
	margin: 0 auto;
}

.section-1{
	margin-top: 50px;
}


.h1{
	font-size: 24px;
	font-family:'Roboto', sans-serif;
	color: black;
	margin-top: 80px;
	margin-bottom: 40px;
}

.wrapper{
  position: relative;
  display: inline-block;
  width: 360px;
  height: 350px;
  background-color: white;
} 

.absolute-text1{
  position: absolute;
  font-size: 16px;
  color: white;
  top: 30px;
  left: 40px;
  font-weight: bold;

}

.absolute-text2{
	position: absolute;
	color: #A6ADB4;
	font-size: 13px;
	bottom: 85px;
	left: 40px;
	right: 80px;

}
.absolute-text3{
	position: absolute;
	color: #A6ADB4;
	font-size: 13px;
	bottom: 85px;
	bottom: 40px;
	left: 70px;
}

.img-1{
	position: absolute;
	bottom: 40px;
	left: 40px;
}

/*section 2*/

.first-block{
	position: relative;
	width: 760px;
	height: 430px;
	margin-right: 40px;
	margin-bottom: 40px;
	display: inline-block;
	vertical-align: top;
}

.second-block{
	width: 760px;
	height: 430px;
	margin-right: 40px;
	margin-bottom: 40px;
	display: inline-block;
}
.absolute-text4{
	position: absolute;
  	font-size: 30px;
  	color: white;
 	top: 50%;
  	left: 50%;
  	font-weight: bold;
  	transform: translate(-50%,-50%);
}
.next-block{
	display: inline-block;
	width: 360px;
	height: 200px;
	vertical-align: top;
}

.img-block{
	margin-bottom: 100px;
}

/*footer*/

footer{
	background-color: #707070;
	width: 100%;
	height: 200px;
}

.h3{
	display: inline-block;
	margin-top: 60px;
	margin-right: 90px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
}

ol{
	color: #CBD0D3;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
}
.ul-a{
	display: inline-block;
	vertical-align: top;
	margin-top: 60px;
	margin-right: 70px;
}

.div-web{
	display: inline-block;
	margin-top: 60px;
	vertical-align: top;
	margin-left: 100px;


}
.web{
	display: inline-block;
	margin-right: 30px;
}